.navbar-brand{
margin: 0;
padding: 0;
}

.navbar-form button {
  float: left;
  width: 100%;
  height: 80%;
  padding: 10px;
  background: #b82b21;
  color: white;
  font-size: 17px;
  border-color: #b82b21;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}